.page-title {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 30px;
    color: #222;
}

.howItWorks-image .image-content {
    padding: 9px;
    /*border: 1px solid #ddd;*/
}

.image-content img{
    vertical-align: middle;
}

.howItWorks-page .info-content h2 {
    font-size: 200%;
    color: #222;
    margin: 5px 0 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.howItWork-details{
    margin: 3rem 0;
}

.shopb-gap{
    margin: 5.5rem;
}

.info-top{
    padding-top: 6.1rem !important;
    width: 99%;
    overflow: hidden;
}

.info-top img{
   max-width: 90%;

}

.int-zoom:hover{
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}
.lower-header{
    margin: auto;
    text-align: center;
    margin-top: 6rem;
}

@media (min-width: 320px){
       /*.columns{
          width: 1140px !important;
       }*/

       .image-content img {
          width: 930px !important;
          height: auto;
         }

       
       }

       @media (max-width: 375px){
        /*.columns{
           width: 1140px !important;
        }*/
 
        
        .info-top{
         width: 750px;
         overflow: hidden;
         margin: auto;
        }

        .int-snippets{
            margin-left: 5rem !important;
            width: 850px !important;
            height: auto !important;
        }

       
    }

    @media (min-width: 480px){
        /*.columns{
           width: 1140px !important;
        }*/
 
        .image-content img {
           width: 930px !important;
           height: auto;
        }
 
        
     }

     @media (max-width: 480px){
        /*.columns{
           width: 1140px !important;
        }*/
 
        .info-top{
            width: 750px;
            overflow: hidden;
            margin: auto;
           }

        .int-snippets{
            margin-left: 5rem !important;
            width: 850px !important;
            height: auto !important;
        }
 
        
     }

  /*  width="1110" height="472" */